@import "susy";
@import "breakpoint";

@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

// for media queries
$small: '32em';
$medium: '45em';
$large: '60em';

$dark-blue: #114b5b;
$med-blue: #26687c;
$light-blue: #75b8bb;
$highlight-blue: #dcf0f3;
$dark-gray: #808080;
$med-gray: #b3b3b3;
$light-gray: #f2f2f2;
$very-light-red: #ffeeea;

$sans-serif: 'Source Sans Pro', sans-serif;
$serif: 'Roboto Slab', serif;

// FORM RESET
// Font
$fh-font-family: $sans-serif;
$fh-font-size: 25px;
$fh-font-color: $dark-gray;

// Borders
$fh-border-radius: 0px;
$fh-border-width: 1px;
$fh-border-style: solid;
$fh-border-color: $light-gray;

// Inputs, Textareas, Select, Option
$fh-input-height: 60px;
$fh-input-width: 100%;
$fh-input-max-width: 100%;
$fh-input-bg-color: $light-gray;
$fh-focus-bg-color: #fff;
$fh-focus-border-color: $light-blue;
$fh-focus-font-color: $fh-font-color;

// Select Vendor Styling
$fh-allow-vendor-styling: true;

// Fieldset & Legend Styling
$fh-fieldset-bare: false;

// Buttons & Input Submits
$fh-button-height: 60px;
$fh-button-width: 100%;
$fh-button-max-width: 200px;
$fh-button-font-color: #fff;
$fh-button-bg-color: $light-blue;
$fh-button-hover-bg-color: $dark-blue;
$fh-button-hover-font-color: #fff;

// Layout
$fh-centered: false;
$fh-display: block;

input[type="submit"] {
  font-size: 20px;
}


// susy settings
$susy: (
  columns: 12,
  gutters: 1/8,
  container: 90%,
  math: fluid,
  global-box-sizing: border-box,
);

// TYPOGRAPHY
html {
  font-family: $sans-serif;
  font-weight: 300;
  color: $dark-gray;
}

h1, h2, h3, h4, h5 {
   font-family: $serif;
   font-weight: 400;
   color: $med-blue;
   /* Your other headings CSS */
}
.section {
  margin-top: 3em;
}

.container {
  @include container(90%);

  @include breakpoint($small) {
    width: 75%;
    //margin: auto;
  }

  @include breakpoint($medium) {
    width: 60%;
    max-width: 50em;
    //margin: auto;
  }

  @include breakpoint($large) {
    //width: 50%;
    width: 50em;
    max-width: 50em;
    //margin: auto;
  }

  margin: auto;

}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// link-buttons
.action-button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: $med-blue;
  color: white;
  margin: 0;
  padding: 0.5em 2em;
  transition-duration: 0.2s;

  &:hover {
    background-color: $dark-blue;
  }

  &:visited, &:active {
    color: white;
  }
}

// font awesome fonts
.fa {
  color: $dark-gray;
}


// top nav
body {margin:0;}

a {
  text-decoration: none;
  color: $light-blue;

  &:visited, &:active {
    color: $light-blue;
  }
}

nav {
  background-color: #fff;
  position: relative;
  padding: 0;
  @extend .clearfix;

  ul {
    list-style-type:none;
	  margin:0;
	  padding:0;
    display: none;
	  position: static;

    @include breakpoint($medium) {
      position: absolute;
      display: block;
      right: 0;
      top: 0;
    }

    li {
      display:inline-block;
    	float: left;
    	margin-right: 1px;
      width: 100%;
      background-color: $light-gray;

      @include breakpoint($medium) {
        width: auto;
        background-color: white;
      }

      a {
        display:block;
      	//min-width:140px;
        padding: 0 1em;
      	height: 50px;
      	text-align: center;
      	line-height: 50px;
      	font-family: $sans-serif;;
      	color: $dark-gray;
      	//background: #2f3036;
      	text-decoration: none;
        width: 100%;
        background-color: $light-gray;

        @include breakpoint($medium) {
          width: auto;
          background-color: white;
        }

      }

      &:hover {
        a {
          background-color: $highlight-blue;
        }
      }
    }
  }

  .home {
    display: inline-block;
    padding: 1em;
    font-family: $serif;
    font-weight: 700;
  }

  .show-menu {
  	font-family: #sans-serif;;
  	text-decoration: none;
  	color: $dark-gray;
  	text-align: center;
    margin: 0;
  	padding: 1em;
  	display: block;
    float: right;

    // show the menu control for mobile
    @include breakpoint($medium) {
      display: none;
    }
  }

  /*Hide checkbox*/
  input[type=checkbox]{
      display: none;
  }

  /*Show menu when invisible checkbox is checked*/
  input[type=checkbox]:checked ~ #menu{
      display: block;
  }
}

// alerts and notices
.flash {
  padding: .2em 0em;
}

.notice {
    background-color: $light-gray;
  }

.alert {
  background-color: $very-light-red;
}


// tables

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  padding: .5em;
  border-bottom: 1px solid $light-gray;

}

thead {
  tr {
    border-bottom: 1px solid $dark-gray;
  }
}
tbody {
  tr {
    &:hover {
      background-color: $light-gray;
    }
  }
}
tfoot {
  tr {
    td {
      font-weight: 700;
    }
  }
}

th {
  padding: .5em;
  text-align: left;
  font-weight: 700;
}

td {
  padding: 1em .5em;
}

.number {
  text-align: right;
}

.table-control {
  padding-left: .5em;
  @extend .clearfix;
  border-top: 1px solid $med-gray;
  padding-top: 1em;
}

.control-bar {
  padding-left: .5em;
  @extend .clearfix;
  text-align: right;
}

// forms
.form-left { @include span(6);}
.form-left-wide { @include span(9);}
.form-left-narrow { @include span(3);}

.form-right { @include span(last 6);}
.form-right-wide { @include span(last 9);}
.form-right-narrow { @include span(last 3);}

.form-full {
  @include span(12);
}

// need to override standard form height
.pika-button {
  height: 3.5em;
}

// simple bar charts
.bar-header {
  width: 100%;
  border-bottom: 1px solid $dark-gray;
  padding: 0.5em;
}

.bar-chart {
  @include span(12);
  background-color: $light-gray;
  //width: 100%;
  position: relative;
  height: 2em;

  .bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2em;
    background-color: $light-blue;
  }

  .bar-over {
    position: absolute;
    top: 0;
    right: 0;
    height: 2em;
    background-color: $light-blue;
  }
}

.bar-stat {
  @include span(6);
  text-align: left;

  h3 {
    padding-left: .5em;
  }
}

.bar-percent {
  @include span(last 6);
  text-align: right;
}


// box layout

.task-box {

  border-top: 1px solid $med-gray;
  @include gallery(4);
  margin-bottom: 2em;

  a {
    font-size: .8em;
    font-weight: 400;
    text-decoration: none;
    color: $dark-gray;
  }

}

.box-control {
  @extend .clearfix;
  border-top: 1px solid $med-gray;
  padding-top: 1em;
}

footer {
  margin: 5em 1em 1em 1em;

  p {
    text-align: center;
  }
}
